
@{
    ViewBag.Title = "Index";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://societyrun.com/site_assets/css/bootstrap.min.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/all.min.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/animate.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/nice-select.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/owl.min.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/jquery-ui.min.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/magnific-popup.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/flaticon.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/main.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="assets/image/logo/societyrun-fev.png" alt="favicon" type="image/x-icon">
<style>
        @*@media screen and (min-device-width: 320px) and (max-device-width: 409px)
        {.header-right {margin-left: 30% !important;}}*@
</style>
<!--============= Header Section Starts Here =============-->
<!--<a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>-->
<div class="overlay"></div>
<header class="header-section inner-header">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <img src="~/Images/logo.png" class="ms-2 w-50" alt="logo">
                <b class="fs-4 text-success">SocietyERP</b>
            </div>

            <ul class="menu" style="margin:20px;">
                <li>
                    <a href="#">Home</a>

                </li>
                <li>
                    <a href="#">Features</a>
                    <ul class="submenu">
                        <li>
                            <a href="#">Communication</a>
                        </li>
                        <li>
                            <a href="#">Data Management</a>
                        </li>
                        <li>
                            <a href="#">Accounting</a>
                        </li>
                    </ul>

                </li>

                <li>
                    <a href="https://societyrun.com/about-societyrun">About Us</a>
                </li>

                <li>
                    <a href="https://societyrun.com/contact">Contact</a>
                </li>

            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header-right">

                <a href="https://societyrun.com/Login" class="header-button d-sm-inline-block">Log In</a>
            </div>

        </div>
    </div>
</header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="www.societyrun.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <meta name="title" content="SocietyRun | Event, Notice Management in Housing Society Pune, Mumbai">
    <meta name="description" content="SocietyRun provides SMART way to manage your Co-Operative Housing Society. Web based Apartment Accounting software with auto billing. Provides Housing complex data management, Reports as per Housing Society Bye-laws.">
    <meta name="keyphrase" content="apartment management System, apartment maintenance software, society accounting software, web based apartment management,  web based apartment management systems, chs management software, society automated billing software">
    <meta name="keywords" content="societyrun,society, apartment,Complex,residency,housing, building,management, communication, pune, mumbai, india, maharashtra, accounting, maintenance, software, system, service, accounting, auto billing, helpdesk,complaint, suggestion, help document, guidelines, blog, notice board, event calender, poll, photo gallery, photo album, bulk sms, message, email, Activity Points, Instant Member Search, Vendor List,Classified, committee member list, society owner list, deposit tracking, expense tracking, report generation, liability repot, asset report, account chart, billing chart, Share Report, Bank Passbbok, Petty cash, Sinking Fund Registrar, Investment register, Penalty Calculation ">

</head>
<body>

    <section class="page-header bg_img for-bg" data-background="">
        <div class="bottom-shape">
            <img src="https://societyrun.com/site_assets/image/header/bg1.png" alt="Accounting">
        </div>
        <div class="container">
            <div class="page-header-content cl-white">
                <h2 class="title drk-gray">Accounting</h2>
                <ul class="breadcrumb">
                    <li>
                        <a href="#" class="drk-gray">Features</a>
                    </li>
                    <li class="drk-gray">
                        Accounting
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--============= Header Section Ends Here =============-->
    <!--============= Feature Section Starts Here =============-->
    <section class="feature-section padding-top padding-bottom oh">
        <div class="container">
            <ul class="nav nav-tabs feature-tab-menu">
                <li>
                    <a href="#">Communication</a>
                </li>
                <li>
                    <a href="#">Data Management</a>
                </li>
                <li>
                    <a href="#" class="active">Accounting</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active fade " id="integrations">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="feature-tab-header">
                                <h2 class="title">Accounting</h2>
                                <p>One stop solution to your billing, expenses, reports and beyond. </p>
                            </div>
                        </div>
                    </div>
                    <div class="cola-area">
                        <div class="container">
                            <div class="row align-items-center  mb-70">
                                <div class="col-lg-6 col-xl-7 rtl">
                                    <div class="collaboration-anime-area">
                                        <div class="main-thumb">
                                            <img src="https://societyrun.com/site_assets/image/features/main.png" alt="Maintenance Billing">
                                        </div>
                                        <div class="mobile " data-wow-delay="1s">
                                            <div class="show-up">
                                                <img src="https://societyrun.com/site_assets/image/features/mobile-n.png" alt="Maintenance Billing">
                                            </div>
                                            <div class="mobileslider ltr">
                                                <img src="https://societyrun.com/site_assets/image/features/Maintenance-Billing.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-5">
                                    <div class="section-header left-style">
                                        <ul class="nav nav-tabs feature-tabs">
                                            <li>
                                                <a data-toggle="tab" href="#conversation">
                                                    <div class="thumb">
                                                        <i class="flaticon-chat"></i>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <h2 class="title">Maintenance Billing</h2>
                                        <p>HousingsocietyERP helps automate recurring maintenance billing with more than ten different types of pre configured formula of penalty calculation. HousingsocietyERP supports 100% GST invoicing solution. Bulk generation of supplementary invocing such as Sinking Fund, Lift AMC, etc.</p>
                                    </div>
                                    <div class="colaboration-wrapper">
                                        <div class="featue-ul-li">
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Get Notified on Email, SMS & App</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Auto Penalty Calculation</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> GST Maintenance Billing</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Supplementary Invoice</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Flat-wise Ledger Statement</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center flex-wrap-reverse mb-70">
                                <div class="col-lg-6 col-xl-5">
                                    <div class="section-header left-style">
                                        <ul class="nav nav-tabs feature-tabs">
                                            <li>
                                                <a data-toggle="tab" href="#vcall">
                                                    <div class="thumb">
                                                        <i class="flaticon-video-call"></i>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <h2 class="title">Receipt Automation</h2>
                                        <p>SocietyRun automates receipt generation process with more than four different types of payment mode. Virtual accounts help automatic receipt generation of all NEFT payments with Zero commission charges. With the help of BBPS now society members can pay maintenance bill through all BBPS platform such as PhonePe, Amazon pay, Google pay, Paytm and many more.</p>
                                    </div>
                                    <div class="colaboration-wrapper">
                                        <div class="featue-ul-li">
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Automate Receipt for NEFT Payment (Virtual Account)</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Payment Gateway</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Bharat Bill Pay (BBPS)</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Pay via Paytm</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7 rtl">
                                    <div class="collaboration-anime-area">
                                        <div class="main-thumb">
                                            <img src="https://societyrun.com/site_assets/image/features/main.png" alt="Receipt Automation">
                                        </div>
                                        <div class="mobile " data-wow-delay="1s">
                                            <div class="show-up">
                                                <img src="https://societyrun.com/site_assets/image/features/mobile-n.png" alt="Receipt Automation">
                                            </div>
                                            <div class="mobileslider  ltr">
                                                <img src="https://societyrun.com/site_assets/image/features/Receipt-Automation.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center  mb-70">
                                <div class="col-lg-6 col-xl-7 rtl">
                                    <div class="collaboration-anime-area">
                                        <div class="main-thumb">
                                            <img src="https://societyrun.com/site_assets/image/features/main.png" alt="Expense Management">
                                        </div>
                                        <div class="mobile " data-wow-delay="1s">
                                            <div class="show-up">
                                                <img src="https://societyrun.com/site_assets/image/features/mobile-n.png" alt="Expense Management">
                                            </div>
                                            <div class="mobileslider ltr">
                                                <img src="https://societyrun.com/site_assets/image/features/Expense-Management.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-5">
                                    <div class="section-header left-style">
                                        <ul class="nav nav-tabs feature-tabs">
                                            <li>
                                                <a data-toggle="tab" href="#conversation">
                                                    <div class="thumb">
                                                        <i class="flaticon-chat"></i>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <h2 class="title">Expense Management</h2>
                                        <p>Manage vendor invoicing and payment easily from mobile app with invoice/cheque photo upload. With analytical reporting get maximum spent area, budgeting, expense report, which helps in creating better strategic ideas to reduce the cost. </p>
                                    </div>
                                    <div class="colaboration-wrapper">
                                        <div class="featue-ul-li">
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Add quick expense from app </li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Click and attach bill/cheque</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Bulk upload</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Budgeting Module</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center flex-wrap-reverse mb-70">
                                <div class="col-lg-6 col-xl-5">
                                    <div class="section-header left-style">
                                        <ul class="nav nav-tabs feature-tabs">
                                            <li>
                                                <a data-toggle="tab" href="#vcall">
                                                    <div class="thumb">
                                                        <i class="flaticon-video-call"></i>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <h2 class="title">Reports</h2>
                                        <p>Get all the reports as per bye-laws. Get ready reporting for finalization of accounts and audit. Send reminders to defaulters or generate 101 notice for non payment for long time. Easy reconciliation with bank account integration.  </p>
                                    </div>
                                    <div class="colaboration-wrapper">
                                        <div class="featue-ul-li">
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Real time Income/Expense</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Balance sheet as per bye-laws</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Receipts and Payments</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Trial Balance</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Tax Report (TDS/GST)</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Outstanding (Defaulter) list</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> 101 Notice to Defaulter</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> All Ledger Print</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7 rtl">
                                    <div class="collaboration-anime-area">
                                        <div class="main-thumb">
                                            <img src="https://societyrun.com/site_assets/image/features/main.png" alt="Reports">
                                        </div>
                                        <div class="mobile " data-wow-delay="1s">
                                            <div class="show-up">
                                                <img src="https://societyrun.com/site_assets/image/features/mobile-n.png" alt="Reports">
                                            </div>
                                            <div class="mobileslider  ltr">
                                                <img src="https://societyrun.com/site_assets/image/features/Reports.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center  mb-70">
                                <div class="col-lg-6 col-xl-7 rtl">
                                    <div class="collaboration-anime-area">
                                        <div class="main-thumb">
                                            <img src="https://societyrun.com/site_assets/image/features/main.png" alt="Import/Export Data">
                                        </div>
                                        <div class="mobile " data-wow-delay="1s">
                                            <div class="show-up">
                                                <img src="https://societyrun.com/site_assets/image/features/mobile-n.png" alt="Import/Export Data">
                                            </div>
                                            <div class="ltr statu-reg">
                                                <img src="https://societyrun.com/site_assets/image/features/Import-Export-Data.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-5">
                                    <div class="section-header left-style">
                                        <ul class="nav nav-tabs feature-tabs">
                                            <li>
                                                <a data-toggle="tab" href="#conversation">
                                                    <div class="thumb">
                                                        <i class="flaticon-chat"></i>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <h2 class="title">Import/Export Data</h2>
                                        <p>SocietyRun export-import tools simplify the work of managing committee. Bulk upload of old income / expense data speed up day to day the traditional entry system. SocietyRun exports all the data into Tally for traditional accounting system.</p>
                                    </div>
                                    <div class="colaboration-wrapper">
                                        <div class="featue-ul-li">
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Export Data to Tally in a Click</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Bulk Income & Expense Upload</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Upload Bank Statement for Easy Reconciliation</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center flex-wrap-reverse mb-70">
                                <div class="col-lg-6 col-xl-5">
                                    <div class="section-header left-style">
                                        <ul class="nav nav-tabs feature-tabs">
                                            <li>
                                                <a data-toggle="tab" href="#vcall">
                                                    <div class="thumb">
                                                        <i class="flaticon-video-call"></i>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <h2 class="title">Accounting Services</h2>
                                        <p>Let our trained accounting staff help you in maintaining day to day accounts of society. </p>
                                    </div>
                                    <div class="colaboration-wrapper">
                                        <div class="featue-ul-li">
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Day to Day Accounting</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> TDS & ITR Filing</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Year End Finalization</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Audit by Empanelled Auditors</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7 rtl">
                                    <div class="collaboration-anime-area">
                                        <div class="main-thumb">
                                            <img src="https://societyrun.com/site_assets/image/features/main.png" alt="Accounting Services">
                                        </div>
                                        <div class="mobile " data-wow-delay="1s">
                                            <div class="show-up">
                                                <img src="https://societyrun.com/site_assets/image/features/mobile-n.png" alt="Accounting Services">
                                            </div>
                                            <div class="ltr statu-reg">
                                                <img src="https://societyrun.com/site_assets/image/features/Accounting-Services.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Feature Section Ends Here =============-->
    <!--============= Enquire now Section Starts Here =============-->
    <section class="trial-section padding-bottom padding-top">
        <div class="container">
            <div class="trial-wrapper padding-top padding-bottom pr">
                <div class="trial-content cl-white">
                    <h3 class="title">Start your 30 days free trial today!</h3>
                    <p>
                        We have provided 30 Days trial <br> Discontinue any time in case of dissatisfaction with our product.
                    </p>
                </div>
                <form class="blog-form">
                    <div class="row mt-20">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="place-col" placeholder="Enter Your Full Name" required name="name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="place-col" placeholder="Enter Your Mobile number" required name="mobile">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="banner-button-group mlr">
                                <a href="#" class="button-4 mlr" style="margin-left:auto;margin-right:auto;">Get Free Trial <i class="flaticon-right ml-xl-2"></i></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>
</html>
<footer class="footer-section bg_img" style="background-color:#f3f3f3;">
    <div class="container">
        <div class="footer-top padding-bottom">

        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-3">
                    <h6 class="mb-10 mt-10">Management</h6>
                    <ul>
                        <li><a href="https://societyrun.com/apartment-communication">Communication</a></li>
                        <li><a href="https://societyrun.com/society-data-management">User Management</a></li>
                        <li><a href="https://societyrun.com/visitor-management">Visitor Management</a></li>
                        <li><a href="https://societyrun.com/statutory-registers">Statutory Register Management</a></li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <h6 class="mb-10 mt-10">SocietyRun ERP</h6>
                    <ul>
                        <li><a href="https://societyrun.com/society-accounting-software">Maintenance Billing</a></li>
                        <li><a href="https://societyrun.com/society-accounting-software">Collection Automation</a></li>
                        <li><a href="https://societyrun.com/society-accounting-software">Expense Tracker</a></li>
                        <li><a href="https://societyrun.com/society-accounting-software">PNL and Balance Sheet</a></li>
                        <li><a href="https://societyrun.com/society-accounting-software">Tally Integration</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h6 class="mb-10 mt-10">More Information</h6>
                    <ul>
                        <li><a href="https://societyrun.com/about-societyrun">About Us</a></li>
                        <li><a href="https://societyrun.com/pricing">Pricing</a></li>
                        <li><a href="/blogs/">Blog</a></li>
                        <li><a href="https://faq.societyrun.com/">FAQs</a></li>
                        <li><a href="https://societyrun.com/privacy-policy">Privacy policy</a></li>
                        <li><a href="https://societyrun.com/refund-cancellation-policy">Refund and Cancellation Policy</a></li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="logo mb-10 mt-10">
                        <a href="#">
                            <img src="https://societyrun.com/site_assets/image/logo/societyrun-logo.png" alt="logo" style="width:80%;">
                        </a>
                    </div>
                    <div class="contact-item">
                        <div class="contact-contact footer">
                            <ul>
                                <li><i class="fa fa-phone" aria-hidden="true" style="transform: rotate3d(1, 1, 3,90deg);"></i> <a href="Tel:8850409901"> +91 8850 40 9901</a></li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>  <a href="Mailto: sales@societyrun.com"> sales@societyrun.com</a></li>
                            </ul>
                        </div>
                        <ul class="social-icons mt-10 w100">
                            <li>
                                <a href="https://www.facebook.com/societyrun" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/SocietyRun" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/societyrun" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UC4eTv7BHy44zdj-HfKeMjCg" target="_blank"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                        <div class="w100">
                            <p class="mb-10 mt-10">Download app</p>
                        </div>

                        <div class="mt-20">
                            <a href="https://play.google.com/store/apps/details?id=com.societyrun12&hl=en" class="mb-10" target="_blank"><img src="https://societyrun.com/site_assets/image/footer/google-play.png" alt="Play Store"></a>
                            <a href="https://apps.apple.com/in/app/societyrun/id1206830924" class="mb-10" target="_blank"><img src="https://societyrun.com/site_assets/image/footer/app-store.png" alt="App Store"></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>
                Copyright © <a href="http://convivialsoftware.com/" target="_blank"> Convivial Software Pvt. Ltd.</a> 2013-2023. All rights reserved.
            </p>
        </div>
    </div>
</footer>

<!--side call design in circle starts-->
<!--<div class="swap-area active">-->
<!--     <div class="chorka">-->
<!--         <img src="https://societyrun.com/site_assets/image/phone1.png" alt="img">-->
<!--     </div>-->
<!--     <div class="swap-item">-->
<!--         <a href="Tel:8850409901"><i class="fa fa-phone" aria-hidden="true" style="transform: rotate3d(1, 1, 3,90deg);"></i> +91 8850 40 9901</a>-->
<!--     </div>-->
<!--     <div class="swap-item">-->
<!--         <a href="Mailto: sales@societyrun.com"><i class="fa fa-envelope" aria-hidden="true"></i> sales@societyrun.com</a>-->
<!--     </div>-->
<!-- </div>-->
<!--side call design in circle ends-->



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46988835-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="666a1351-f83f-4d67-8bb2-49852e320e29";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

<!--============= Footer Section Ends Here =============-->
<script src="https://societyrun.com/site_assets/js/jquery-3.3.1.min.js"></script>
<script src="https://societyrun.com/site_assets/js/modernizr-3.6.0.min.js"></script>
<script src="https://societyrun.com/site_assets/js/plugins.js"></script>
<script src="https://societyrun.com/site_assets/js/bootstrap.min.js"></script>
<script src="https://societyrun.com/site_assets/js/magnific-popup.min.js"></script>
<script src="https://societyrun.com/site_assets/js/jquery-ui.min.js"></script>
<script src="https://societyrun.com/site_assets/js/wow.min.js"></script>
<script src="https://societyrun.com/site_assets/js/waypoints.js"></script>
<script src="https://societyrun.com/site_assets/js/nice-select.js"></script>
<script src="https://societyrun.com/site_assets/js/owl.min.js"></script>
<script src="https://societyrun.com/site_assets/js/counterup.min.js"></script>
<script src="https://societyrun.com/site_assets/js/paroller.js"></script>
<script src="https://societyrun.com/site_assets/js/main.js"></script>
<script src="https://societyrun.com/site_assets/js/minified.js"></script>
<script src="https://societyrun.com/site_assets/js/canvasjs.min.js"></script>
<script>
         //      $('.chorka').on('click', function(){
         //       $('.swap-area').toggleClass('active');
         //           })
         //          $('.chorka').on('click', function(){
         //       $('.swap-area').css("box-shadow", "3.629px 14.554px 10px 0px rgb(24 37 163 / 20%)");
         //   })

</script>

