
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://societyrun.com/site_assets/css/bootstrap.min.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/all.min.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/animate.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/nice-select.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/owl.min.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/jquery-ui.min.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/magnific-popup.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/flaticon.css">
<link rel="stylesheet" href="https://societyrun.com/site_assets/css/main.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="assets/image/logo/societyrun-fev.png" alt="favicon" type="image/x-icon">


<!--============= Header Section Starts Here =============-->

<div class="overlay"></div>
<header class="header-section inner-header">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <img src="~/Images/logo.png" class="ms-2 w-50" alt="logo">
                <b class="fs-4 text-success">SocietyERP</b>
            </div>

            <ul class="menu" style="margin:20px;">
                <li>
                    <a href="#">Home</a>

                </li>
                <li>
                    <a href="#">Admin</a>
                    <ul class="submenu">
                        <li>
                            <a href="#">Add Secretary</a>
                        </li>
                        <li>
                            <a href="#">Manage Society</a>
                        </li>
                        <li>
                            <a href="#">Review Balance Sheet</a>
                        </li>

                    </ul>

                </li>


                <li>
                    <a href="#">Secretary</a>
                    <ul class="submenu">
                        <li>
                            <a href="#">Add Member</a>
                        </li>
                        <li>
                            <a href="#">Manage Accounts</a>
                        </li>
                        <li>
                            <a href="#">Track Expenses</a>
                        </li>
                        <li>
                            <a href="#">Track Transactions</a>
                        </li>
                        <li>
                            <a href="#">Review Complaints</a>
                        </li>

                    </ul>

                </li>

                <li>
                    <a href="#">Member</a>
                    <ul class="submenu">
                        <li>
                            <a href="#">Pay Maintenance Bill</a>
                        </li>
                        <li>
                            <a href="#">Register a Complaint</a>
                        </li>
                        <li>
                            <a href="#">Note Circulars/Notices</a>
                        </li>
                        <li>
                            <a href="#">Book Community Hall</a>
                        </li>

                    </ul>

                </li>

                <li>
                    <a href="#">About Us</a>
                </li>
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>



<body>

   @RenderBody()  
</body>


<footer class="footer-section bg_img" style="background-color:#f3f3f3;">
    <div class="container">
        <div class="footer-top padding-bottom">
            
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-3">
                    <h6 class="mb-10 mt-10">Management</h6>
                    <ul>
                        <li><a href="#">Communication</a></li>
                        <li><a href="#">User Management</a></li>
                        <li><a href="#">Member Management</a></li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <h6 class="mb-10 mt-10">Society ERP</h6>
                    <ul>
                        <li><a href="#">Maintenance Billing</a></li>
                        <li><a href="#">Expense Tracker</a></li>
                        <li><a href="#">PNL and Balance Sheet</a></li>
                       
                    </ul>
                </div>
                <div class="col-md-3">
                    <h6 class="mb-10 mt-10">More Information</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">FAQs</a></li>
                       
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="logo mb-5 mt-10">
                        <a href="#">
                            <img src="~/Images/logo.png" alt="logo" style="width:60%;">
                        </a>
                        <b class="fs-4 text-success">SocietyERP</b>
                    </div>
                    <div class="contact-item">
                        <div class="contact-contact footer mb-5">
                            <ul>
                                <li><i class="fa fa-phone" aria-hidden="true" style="transform: rotate3d(1, 1, 3,90deg);"></i> <a href="Tel:9096152118"> +91 90961 52118</a></li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>  <a href="Mailto: sales@societyERP.com"> sales@societyERP.com</a></li>
                            </ul>
                        </div>
                        @*<ul class="social-icons mt-10 w100">
                            <li>
                                <a href="https://www.facebook.com/societyrun" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/SocietyRun" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/societyrun" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UC4eTv7BHy44zdj-HfKeMjCg" target="_blank"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>*@
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>
                Copyright © <a href="#" target="_blank"> VishwaMet Technologies Pvt. Ltd.</a> 2022-2023. All rights reserved.
            </p>
        </div>
    </div>
</footer>

<!--side call design in circle starts-->
<!--<div class="swap-area active">-->
<!--     <div class="chorka">-->
<!--         <img src="https://societyrun.com/site_assets/image/phone1.png" alt="img">-->
<!--     </div>-->
<!--     <div class="swap-item">-->
<!--         <a href="Tel:8850409901"><i class="fa fa-phone" aria-hidden="true" style="transform: rotate3d(1, 1, 3,90deg);"></i> +91 8850 40 9901</a>-->
<!--     </div>-->
<!--     <div class="swap-item">-->
<!--         <a href="Mailto: sales@societyrun.com"><i class="fa fa-envelope" aria-hidden="true"></i> sales@societyrun.com</a>-->
<!--     </div>-->
<!-- </div>-->
<!--side call design in circle ends-->



<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-46988835-1', 'auto');
    ga('send', 'pageview');

</script>

<script type="text/javascript">window.$crisp = []; window.CRISP_WEBSITE_ID = "666a1351-f83f-4d67-8bb2-49852e320e29"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>

<!--============= Footer Section Ends Here =============-->
<script src="https://societyrun.com/site_assets/js/jquery-3.3.1.min.js"></script>
<script src="https://societyrun.com/site_assets/js/modernizr-3.6.0.min.js"></script>
<script src="https://societyrun.com/site_assets/js/plugins.js"></script>
<script src="https://societyrun.com/site_assets/js/bootstrap.min.js"></script>
<script src="https://societyrun.com/site_assets/js/magnific-popup.min.js"></script>
<script src="https://societyrun.com/site_assets/js/jquery-ui.min.js"></script>
<script src="https://societyrun.com/site_assets/js/wow.min.js"></script>
<script src="https://societyrun.com/site_assets/js/waypoints.js"></script>
<script src="https://societyrun.com/site_assets/js/nice-select.js"></script>
<script src="https://societyrun.com/site_assets/js/owl.min.js"></script>
<script src="https://societyrun.com/site_assets/js/counterup.min.js"></script>
<script src="https://societyrun.com/site_assets/js/paroller.js"></script>
<script src="https://societyrun.com/site_assets/js/main.js"></script>
<script src="https://societyrun.com/site_assets/js/minified.js"></script>
<script src="https://societyrun.com/site_assets/js/canvasjs.min.js"></script>
<script>
         //      $('.chorka').on('click', function(){
         //       $('.swap-area').toggleClass('active');
         //           })
         //          $('.chorka').on('click', function(){
         //       $('.swap-area').css("box-shadow", "3.629px 14.554px 10px 0px rgb(24 37 163 / 20%)");
         //   })

</script>
